h1 {
  text-align: center;
  color: rgb(22, 99, 99);
  padding: 0 0 0 0;
}
img {
  border-radius: 15px 50px 30px 5px;
  border-radius: 50%;
}
button {
  border-radius: 50%;
  color: blueviolet;
  text-align: center;
}
